body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
.header_top_1{
	width: 100%;
	height: 40px;
	background-color: #00a0e9;
	line-height: 40px;
}
.header_top_1 span{
	color: white;
	font-weight: bolder;
	margin-left: 5px;
	padding-right: 530px;
}
.header_top_1 a{
	color: white;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	margin-left: 10px;
}
.header_top_1 a:hover{
	text-decoration: underline;
}
#a{
	float: right;
	width: 65px;
	height: 25px;
	margin-top: 5px;
	margin-right: 10px;
	line-height: 25px;
	border: 1px solid dimgrey;
	border-radius: 2px;
}
.header_top_2 a{
	color: #333;
	font-size: 14px;
}
.header_top_2{
	width: 1140px;
	height: 80px;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 400px;
	border-bottom: 1px solid #dedede;
}
.header_top_2 img{
	margin-left: 360px;
	padding-right: 250px;
}
#span3{
	font-size: 12px;
}
#span4{
	margin-left: 30px;
}
#a1{
	margin-left: 30px;
}
.header_top_3{
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.header_top_3 a{
	font-size: 13px;
	color: #333;
	margin-left: 40px;
}



.header{
	width: 100%;
	height: 136px;
	background-color: #f5f5f5;
}
.Shop span{
	display: block;
	font-size: 36px;
	padding-top: 20px;
	margin-left: 400px;
}
.Home{
	font-size: 12px;
	color: #000;
	margin-left: 400px;
	padding-top: 15px;
}
.Home span{
	color: #777;
	margin-left: 10px;
}
.content{
	width: 1170px;
	height: auto;
	display: flex;
	margin: 100px auto;
	position: relative;
}
.content img{
	width: 360px;
	height: 432px;
}
.con1{
	margin-left: 30px;
}
.con1 p{
	text-align: center;
}
.c1{
	height: 530px;
}
.p1{
    color: #757575;
    font-size: 15px;
    margin-top: -10px;
}
#span1,#span2{
	width: 49px;
	height: 26px;
	background-color: #000;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	color: #fff;
}
#span1{
	position: absolute;
	top: 13px;
	left: 327px;
}
#span2{
	position: absolute;
	top: 1070px;
	left: 327px;
}
.footer{
	width: 100%;
	height: 225px;
	background-color: #f7f7f7;
	text-align: center;
}
.footer span{
	color: #757575;
	font-size: 15px;
}
#WY{
	font-size: 15px;
	color: #000;
}
.footer_top span{
	margin-left: 30px;
	font-size: 18px;
	color: #555;
}
.footer_top{
	padding-top: 50px;
}
.footer_center{
	padding-top: 30px;
}
.footer_center a{
	font-size: 10px;
	color: #757575;
	margin-left: 20px;
}
.footer_bottom{
	padding-top: 20px;
}
